!URxvt
!
URxvt*highlightColor:           #9a875f
URxvt*highlightTextColor:       #917154
URxvt*cursorColor:              #9c7650
URxvt*pointerColor:             #515e6f
URxvt*pointerColor2:            #9c7650
URxvt*colorBD:                  #9c7650
URxvt*colorUL:                  #585858
URxvt*underlineColor:           #566776

*background: #141314
*foreground: #8A745C

!black
*color0:    #141314
*color8:    #46423b

!red
*color1:    #70473a
*color9:    #916255

!green
*color2:    #534d35
*color10:   #858167

!yellow
*color3:    #9c7650
!*color3:    #9c7650
*color11:   #ad8650

!blue
*color4:    #473e38
*color12:   #75715e

!magenta
*color5:    #543b3b
*color13:   #6b5d51

!cyan
*color6:    #5F4444
*color14:   #585858

!white
*color7:    #9a875f
*color15:   #917154



URxvt.font: xft:Ubuntu Mono:size=13
!URxvt.letterSpace: -1


!URxvt.perl-ext-common: default,tabbed,matcher
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 0
URxvt.scrollBar: false

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
